.status-section {
    margin: 20px;
    padding: 20px 15px 15px;
    background-color: #ffffff;
    border: 1px solid #dbe1e8;
    /* padding-bottom: 2.5rem; */
}

.mat-tab-label-content {
    font-size: 20px !important;
}

table {
    width: 100%;
    border-style: solid;
    border-color: #eaedf1;
    border-width: 1.5px;
    /* margin:5px; */
    margin: 10px 0px 10px 0px;
    box-shadow: none !important;
}

.mat-tab-body-wrapper{
    height: 69.69vh;
    /* height: 670px; */
    border-color: #eaedf1;
    border-style: solid;
    border-width: 1px;
} 

.mat-cell {
    font-size: 14px;
    min-height: 48px;
    /* text-align: center; */
    border-right: 1.2px solid #eaedf1;
}

.mat-header-cell{
    font-size: 14px;
    min-height: 48px;
    text-align: center;
    border-right: 1.2px solid #eaedf1;
}

.services-label {
    font-size: 15px;
    margin-left:50px;
}


.table-header {
    text-align: center !important;
}

.table-header-title {
    font-size: 18px;
}

.table-desc {
    text-align: center !important;
}

.gray-out {
    background-color: #eaedf1;
}

.gray-out-services{
    background-color: #eaedf1;
    font-weight: 700;
    text-align: left !important;
    
}

.main-service{
    margin-left:0px !important;
}
.indicator-icons {
    height: 30px !important;
    width: 30px !important;
    font-size: 25px;
}

.online-icon {
    color: green !important;
}

.offline-icon {
    color: red !important;
}

.warning-icon {
    color: orange !important;
}

.table-footer {
    margin-top: 20px;
    /* border-style: solid;
    border-width: 3px; */
}

#legend * {
    margin-left: 10px;
}

.legend-indicator {
    /* margin-top: 20px; */
    line-height: 2;
    padding-right: 15px;
    margin-top: 16px;
}

.footer-indicators {
    line-height: 1.3;
}

#refresh-button {
    color: #7DB831 !important;
    height: 40px;
    margin-top:08px;
}

.refresh-time{
    display: inline-flex;
    margin-left: 20px;
}

.refresh-setting {
    margin-left: 10px;
}



/* .mat-tooltip .tooltip{
    font-size:10px !important;
} */