/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html {
    min-width: 100%;
    min-height: 100%;
}
body {
    padding:0;
    margin:0;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    background-color: #eaedf1;
    overflow: auto;
    font-size: 14px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
     border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }